numpy==1.25.0
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
Pillow==9.5.0
Pillow==10.0.1
pygame==2.5.2
Shapely==2.0.2
supervision==0.15.0
ultralytics==8.0.200
openvino==2023.1.0
openvino-dev==2023.1.0
openvino-telemetry==2023.1.0
tk==0.1.0
onnxruntime==1.16.1
